.game-content {
    margin-bottom: 40px;
    text-align: center;
}

.game-content strong {
    font-weight: 700;
}

.game-step {
    font-size: 15px;
}

.game-buttons {
    display: flex;
    gap: 16px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.game-buttons .app-button {
    margin: 0px 10px
}